$font-size: 1rem;
$font-color: red;

h1 {
  font-size: $font-size;
  color: $font-color;
  background: url("img/02DF03FC-C708-463C-A9BE-22739918A94D.jpeg.3c435387a9e8805cdd0cb5ea58bb4684.jpeg") no-repeat 50%;
}